<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" id="trailers" (ngSubmit)="onSubmit()">
    <div class="row">
<!-- First Name -->
        <div class="mb-3 col">
            <label class="form-label">Trailer ID
            <input type="text" formControlName="trailerID" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" /></label>
            <!-- <div *ngIf="submitted && f['trailerID'].errors" class="invalid-feedback">
                <div *ngIf="f['trailerID'].errors['required']">First Name is required</div> -->
            </div>
        </div>

<!-- Last Name -->
        <div class="mb-3 col">
            <label class="form-label">Trailer Type
            <input type="text" formControlName="trailerType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['trailerType'].errors }" /></label>
            <!-- <div *ngIf="submitted && f['trailerType'].errors" class="invalid-feedback">
                <div *ngIf="f['trailerType'].errors['required']">Last Name is required</div> -->
            <!-- </div> -->
        </div>

<!-- Title
        <div class="mb-3 col">
          <label class="form-label">Job Title
          <input type="text" formControlName="jobTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['jobTitle'].errors }" /></label>
          <div *ngIf="submitted && f['jobTitle'].errors" class="invalid-feedback">
              <div *ngIf="f['jobTitle'].errors['required']">Job Title is required</div>
          </div>
        </div>
      </div>





    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Department
            <select value="department" formControlName="department" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['department'].errors }">
              <option value="Unassigned">Unassigned</option>
              <option value={{department.departmentName}} *ngFor="let department of departments">{{department.departmentName}}</option>
            </select>
          </label>
            <div *ngIf="submitted && f['department'].errors" class="invalid-feedback">
                <div *ngIf="f['department'].errors['required']">Department is required</div>
            </div>
          </div>


        <div class="mb-3 col">
          <label class="form-label">Manager
          <input  type="text" formControlName="manager" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['manager'].errors }" value="{{form.controls['department'].value.manager}}"/></label>
          <div *ngIf="submitted && f['manager'].errors" class="invalid-feedback">
              <div *ngIf="f['manager'].errors['required']">Manager is required</div>
          </div>
        </div>


      <div class="mb-3 col">
        <label class="form-label">Location
          <select value="location" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['location'].errors }">
            <option value="Unassigned">Unassigned</option>
            <option value={{location.locationName}} *ngFor="let location of locations">{{location.locationName}}</option>
          </select> -->
        <!-- <input type="" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['location'].errors }" /> -->
      <!-- </label>
        <div *ngIf="submitted && f['location'].errors" class="invalid-feedback">
            <div *ngIf="f['location'].errors['required']">Location is required</div>
        </div>
      </div>
    </div> -->


    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/trailers/inventory" class="btn btn-link">Cancel</a>
    </div>
<!-- </form> -->
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>
