<body class="body">
  <div class="navbar_div">
    <div class="navbarBtnDiv">

<!-- Inventory Component Page -->
      <div class="borderDiv1" routerLink="/inventory" routerLinkActive="active"><a class="navbarBtn1"><img class="navbar-icon" src="/assets/images/inventory-icon.png" alt="inventory-icon">Inventory</a></div>

<!-- TrailerInventory Component Page -->
      <div class="borderDiv2" routerLink="/trailer-inventory" routerLinkActive="active"><a class="navbarBtn2"><img class="navbar-icon" src="/assets/images/truck-icon.png" alt="truck-icon" >Trailers</a></div>

<!-- Maintenance Component Page -->
      <div class="borderDiv1" routerLink="/maintenance" routerLinkActive="active"><a class="navbarBtn1"><img class="navbar-icon" src="/assets/images/maintenance-icon.png" alt="maintenance-icon" >Maintenance</a></div>
    </div>

      <h1 class="h1">

          <a style="text-decoration: none; color: #bababa;" routerLink="/" routerLinkActive="active" >
        <div><img src="/assets/images/logo-icon.png" alt="logo"></div>
        <br>
        <div>Welcome</div>
        </a>

      </h1>

      <div class="navbarBtnDiv">

        <!-- Employee Component Page -->
      <div class="borderDiv1" routerLink="/employees" routerLinkActive="active"><a class="navbarBtn1"><img class="navbar-icon" src="/assets/images/employees-icon.png" alt="employees-icon">Employees</a></div>

<!-- Employee Review Component Page -->
      <div class="borderDiv2" routerLink="/employee-review" routerLinkActive="active"><a class="navbarBtn2"><img class="navbar-icon" src="/assets/images/employee-review-icon.png" alt="employee-review-icon">Evals</a></div>

<!-- Settings Component Page -->
      <div class="borderDiv1" routerLink="/settings" routerLinkActive="active"><a class="navbarBtn1"><img class="navbar-icon" src="/assets/images/settings-icon.png" alt="settings-icon" >settings</a></div>
    </div>
  </div>

  <h3 class="logout-h3">
    <div class="leftDiv"></div>
    <div class="logoutDiv">
    <button class="logoutBtn" type="button" (click)="logout()">Logout</button>
    </div>
    <div class="rightDiv"></div>
  </h3>

<h3 class="bottom-space"></h3>
</body>
