body {
  background-color: #1a74a3;
}
main {
  min-height: 100dvh;
  height: 100%;
  background: rgb(26,116,163);
  background: linear-gradient(180deg, rgba(26,116,163,1) 0%, rgba(26,116,163,1) 25%, rgba(204,204,204,1) 100%);
}
