<header>
  <div class="headerContainer">

    <div class="leftDiv">
      <!-- Left Section -->
      <button class="btn btn-primary" routerLink="/account/register" routerLinkActive="active">Register a new company</button>
    </div>

    <div class="centerDiv">
      <div class="logoDiv">

        <!-- Center Logo Section -->
        <div><img class="logo" src="/assets/images/icons8-s-67.png" alt="Logo Left" width="45px"></div>
        <div><img class="logo" src="/assets/images/icons8-b-67.png" alt="img middle"
          width="60px"></div>
        <div><img class="logo" src="/assets/images/icons8-s-67.png" alt="Logo right" width="45px"></div>
      </div>

      <div class="infoDiv"><button href="" class="btn btn-sm btn-primary infoBtn">About Us</button></div>
    </div>

    <div class="rightDiv">

      <br>
      <button class="btn btn-primary">Login</button>
    </div>

  </div>
</header>
<main>

  <h1>Small Business Suite</h1>

  <p>We offer many services including:</p>

<div class="card-container">

  <div class="card">
    <h3>HR and Safety</h3>
    <br>
    <p>Employee Reviews</p>
    <p>Safety Training Programs</p>
    <p>...And More</p>

  </div>

  <div class="card">
    <h3>Logistics</h3>
    <br>
    <p>Trailer Inventory</p>
    <p>Dispatching Services</p>
    <p>...And More</p>
  </div>

  <div class="card">
    <h3>Maintenance</h3>
    <br>
    <p>Work Orders</p>
    <p>Parts Inventory</p>
    <p>...And More</p>
  </div>

</div>

  <br>
  <br>
</main>
<body>
  <h2>Lorem ipsum</h2>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolorum, debitis officiis ad voluptas labore sapiente, quibusdam fugiat quia quaerat quae culpa dolores facilis ducimus consectetur distinctio fugit laboriosam recusandae!</p>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolorum, debitis officiis ad voluptas labore sapiente, quibusdam fugiat quia quaerat quae culpa dolores facilis ducimus consectetur distinctio fugit laboriosam recusandae!</p>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolorum, debitis officiis ad voluptas labore sapiente, quibusdam fugiat quia quaerat quae culpa dolores facilis ducimus consectetur distinctio fugit laboriosam recusandae!</p>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolorum, debitis officiis ad voluptas labore sapiente, quibusdam fugiat quia quaerat quae culpa dolores facilis ducimus consectetur distinctio fugit laboriosam recusandae!</p>

</body>
