<div class="card">
  <h4 class="card-header">Register Company</h4>
  <div class="card-body">
      <form [formGroup]="form" >

          <div class="mb-3">
            <label class="form-label">Company Name</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required'] || f['email'].errors['email']">Please enter a valid email</div>
            </div>
        </div>
          <div class="mb-3">
            <label class="form-label">Address Line 1 *</label><input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Address Line 2</label><input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">City</label><input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">State</label><input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Country</label><input type="text" class="form-control">
          </div>
          <div>
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                  Register
              </button>
              <a routerLink="../login" class="btn btn-link">Cancel</a>
              <a routerLink="../register-user" class="btn btn-link">next step</a>
          </div>
      </form>
  </div>
</div>


<!-- (ngSubmit)="onSubmit()" -->

